/*edd98b*/

#transparent{
    -fx-background-color : transparent ;
}
.button{
    -fx-background-color:  #2D3237;
    -fx-alignment:center;
    -fx-text-fill: #edd98b;
}
#musicbutton{
    -fx-graphic:url("../images/music-player.png");
}
#moviebutton{
    -fx-graphic: url("../images/clapperboard.png");
}
#exit{
    -fx-graphic: url("../images/logout.png");
}
#searchButton{
    -fx-graphic: url("../images/search.png");
}
.button:hover{
    -fx-background-color: #4F5459;
    -fx-cursor: hand;
}

#musicMenu{
    -fx-background-color: #2D3237;

}
#movieMenu{
    -fx-background-color: #2D3237;
}
#top{
    -fx-background-color: #2D3237;
}
.label{
    -fx-alignment:center;
    -fx-text-fill: #edd98b;
}
/*buttony*/
#prevSong{
    -fx-graphic: url("../images/previous.png");
}
#nextSong{
    -fx-graphic: url("../images/next.png");
}
#playpause{
    -fx-graphic: url("../images/play.png");
}
#replaySong{
    -fx-graphic: url("../images/replay.png");
}
#songLyricsButton{
    -fx-graphic: url("../images/lyrics.png");
}
#songInfoButton{
    -fx-graphic: url("../images/info.png");
}




/*glowne panele*/
#moviePane{
    -fx-background-color: linear-gradient(#4D5459,#2D3237);
}
#musicPane{
    -fx-background-color: linear-gradient(#4D5459,#2D3237);
}
#mainPane{
    -fx-background-color: #2D3237;
}
.list-view{

    -fx-background-color: transparent;
    -fx-cell-size: 150;
}
#playlisty .list-cell{
    -fx-background-color: #2D3237;

}
.scroll-bar{
    -fx-background-color: #2D3237;
}
.scroll-bar .thumb{
    -fx-background-color: #edd98b;
}
.scroll-bar .thumb:pressed,
.scroll-bar .thumb:hover{
    -fx-cursor: hand;
    -fx-background-color: derive(#edd98b,50%);
}
.scroll-bar .increment-button{
    -fx-background-color:transparent;

}
#volumeSlider{

 }

#displayAlbumsArtists,
#displayWithInfo,
#displaySongs,
#mainMusicPane,
#createPlaylistPane
{
    -fx-background-color:linear-gradient(#4D5459,#32373C);
}

#genresListView .list-cell,
#moodsListView .list-cell
{
    -fx-background-color: transparent;
    -fx-padding: 10px;
}
/*#genresListView  .scroll-bar:horizontal {*/
    /*-fx-scale-x: 0;*/
/*}*/
#genresListView .list-cell:hover #gmbutton,
#moodsListView .list-cell:hover #gmbutton
{
    -fx-font-size:30px;
}

.table-view{
    -fx-background-color: transparent;
}
.table-view .column-header .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.table-view .list-cell{
    -fx-background-color: transparent;
    -fx-text-fill: #edd98b;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #edd98b;
}
.table-row-cell{
    -fx-text-alignment: center;
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-pref-height: 40px;
}
.table-row-cell:hover{
    -fx-cursor: hand;
    -fx-background-color: derive(#edd98b,50%);
}
.table-row-cell:hover .table-cell{
    -fx-text-fill: black;
}

#displaybutton{
    -fx-background-color: transparent;
    -fx-font-size: 30px;
}
#displaybutton .button{

    -fx-background-color: grey;
    -fx-font-size: 15px;
}
.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #edd98b;
}
.list-cell :hover {

    -fx-cursor: hand;
    -fx-text-fill: grey;
}

